*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* body{
    
} */
li{
    background-color: #EEE;
    margin: 1rem;
    display: grid;
    grid-template-columns: 80% 5% 5% 5%;
    
}
.background{
    background-image: url("apple.jfif");
    width: 30vw;
    height: 40vh;

    background-size: cover;
    background-position: center;
}
.container{
    
    width: 80%;
    margin: auto;
    display: grid;
    grid-template-columns: 50% 50%;
    
}